body{
    width: 960px;
    margin: 30px auto;
}


.logo,.navigasi,.konten,.sidebar,.footer{
    margin-bottom: 5px;
    padding: 15px 0;
}

.logo{
    width: 100%;
    height: auto;
    background-color:#99D9EA;
    text-align: center;
}

.navigasi{
    width: 100%;
    height: auto;
    background-color: #99D9EA;
    text-align: center;
}

.konten{
    width: 70%;
    background-color: #fd7e00;
}

.sidebar{
    width: 30%;
}

.footer{
    width: 100%;
    background-color: #c3c3c3;
    text-align: center;
}