:root{
    --colorFontPrimary: white;
    --colorFontSecondary: Silver;
    --colorPrimary: rgb(42, 42,42);
    --colorSecondary: rgb(32, 32,32);
    --colorAccent: #005CEC;
}

*{
    font-weight: 600;
    color: var(--colorFontPrimary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    color: var(--colorFontPrimary);    
    text-align: center;
    word-wrap: break-word;
}

p {
    color: var(--colorFontSecondary);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--colorSecondary);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.1);
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3);
  }

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: var(--colorPrimary);
    font-family: Arial;
    z-index:99;
  }
  
  /* Links inside the navbar */
  .navbar a, .dropdown-content a {
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--colorFontPrimary);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: ease-in-out 350ms;
}
  
  .dropbtn {
    background-color: rgba(255,255,255,0.06);
  }
    
  .dropdown-content a {
    color: var(--colorFontSecondary);
    min-width: 150px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--colorSecondary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:active , .dropbtn:active, .navbar a:active{
    color: var(--colorFontPrimary);
    background-color: rgba(255,255,255,0.03);
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fade-in 350ms forwards;
    pointer-events: all;
}

.dropdown-content[closing] {
    display: block;
    pointer-events: none;
    animation: fade-out 350ms forwards;
}

.page{
    width: 100%;
    position:absolute;
    display: grid;
    place-items: center;
    opacity: 0;
}

.page[page-active]{
    z-index: 5;
    animation: slide-up 500ms forwards, fade-in 550ms forwards;
    animation-delay: 500ms;
}

.page[page-closing]{
    animation: slide-down 500ms forwards, fade-out 550ms forwards;
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('../assets/background.jpg');
    filter: blur(0.15rem);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    opacity: 0.5;
    z-index: -1;
}

.btn{
    font-size: 1rem;
    color: var(--colorFontSecondary);
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(0.15rem);
    border-radius: 0.4rem;
    opacity: 1;

    padding-top: 0.75rem;
    padding-left: 2rem;
    padding-bottom: 0.75rem;
    padding-right: 2rem;
    transition: ease-in-out 350ms;
}

@media (hover: hover) and (pointer: fine) {
    /* css hover class/style */
    .btn:hover {
        color: var(--colorFontPrimary);
        background-color: rgba(255,255,255,0.2);
    }
    .navbar a:hover, .dropdown:hover {
        background-color: rgba(255,255,255,0.06);
    }
    .dropdown-content a:hover {
        color: var(--colorFontPrimary);
        background-color: rgba(255,255,255,0.03);
    }
}

.btn:active{
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.3);
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}

.mobile-nav {
    display: none;
}

.mobile-nav-toggle {
    display: none;
    position: absolute;
    z-index: 9999;
    background: transparent;
    background-image: url("../assets/icon-menu-white.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 1.5rem;
}

.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../assets/icon-close-white.svg");
}

@media (max-width: 38rem) {
    .navbar {
        z-index: 1000;
        position: fixed;
        display: flex;
        flex-direction: column;

        height: 100%;
        padding: min(6vh, 10rem) 3em;
        padding-top: 35%;
        inset: 0 0 0 45%;

        background: rgba(22, 22,22, 0.65);
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle, .mobile-nav{
        display: block;
    }
    .dropdown-content{
        background: rgba(20, 20,20, 0.65);
        position: relative;
    }

    .dropdown-content a{
        min-width: 0%;
        width: 100%;
        display: flex;
    }
    .dropbtn, .dropdown-content{
        width: 100%;
    }
}

@keyframes slide-up {
    0%{ transform: translateY(100%); }
    100%{ transform: translateY(0%); }
}

@keyframes slide-down {
    0%{ transform: translateY(0%); }
    100%{ transform: translateY(100%); }
}

@keyframes fade-in {
    0%{ opacity: 0; }
    100%{ opacity: 1;}
}

@keyframes fade-out {
    0%{ opacity: 1; }
    100%{ opacity: 0;}
}