@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Roboto:wght@100&display=swap');


:root{
    --colorFontPrimary: white;
    --colorFontSecondary: Silver;
    --colorPrimary: rgb(42, 42,42);
    --colorSecondary: rgb(32, 32,32);
    --colorAccent: #084298;
}

*{
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif !important;
}

.btn-primary{
    background-color: var(--colorAccent) !important;
}

body{
    margin: 0;
    color: white;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    color: var(--colorFontPrimary);    
    text-align: center;
    word-wrap: break-word;
}

.brandingTitle{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
}

#background{
    background-image: url('../Assets/wave.svg');
}

#background2{
    background-image: url('../Assets/wave2.svg');
}

#background3{
    background-image: url('../Assets/wave3.svg');
}

#background4{
    background-image: url('../Assets/wave4.svg');
}

#background, #background2, #background3, #background4{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    background-size:contain;
    z-index: -15;
}

#layer-background-contact{
    background-image: url('../Assets/background-contact.png');
    background-size: cover;
}

#layer-background{
    background-image: url('../Assets/background-0.png');
    background-size: contain;
}

#layer-background, #layer-background-contact{
    opacity: 0;
    animation-delay: 250ms;
    animation: fade-layer-background-in 1000ms forwards;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: fixed;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    z-index: -20;
}

#navbar {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: var(--colorPrimary);
    z-index: 200;
  }

  #navbar a {
    display: block;
    float: right;
    color: var(--colorFontSecondary);
    font-weight: 600;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 1em;
  }

  #navbar  {
    display: block;
  }

  #navbar a:hover {
    color: var(--colorFontPrimary);
  }

  #navbar a.active{
    color: var(--colorFontPrimary);
  }

  .dropdown{
    height: 0%;
    visibility: collapse;
    position: fixed;
    margin-right: 10px;
    margin-top: 7px;
    float: right;
    z-index: -999;
  }

  .nav-burger-menu-toggle{
    position:fixed;
    background-color: transparent;
    background-image: url("../../../assets/icon-menu-white.svg");
    background-repeat: no-repeat;
    border: 0;
    top: 9px;
    left: 5px;
    height: 2rem;
    aspect-ratio: 1;
    z-index: 999999;
}

.glass-effect{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.transparent{
    background-color: transparent;
}

.btn-expand{
    width: 100% !important;
}

.nav-burger-menu-toggle[aria-expanded="true"] {
    background-image: url("../../../assets/icon-close-white.svg");
}

.nav-side-bar-darken[side-bar-visible=true], .nav-side-bar-darken[side-bar-visible=false]  {
    display: inline-block;
    visibility: visible;
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1rem);
    animation: fade-background-in 350ms forwards;
    z-index: 900;
}

.nav-side-bar-darken[side-bar-visible=false] {
    animation: fade-background-out 350ms forwards;
}

.nav-side-bar-inner[side-bar-visible=false], .nav-side-bar-inner[side-bar-visible=true]{
    visibility: hidden;
    display: inline-block;
    width: 50%;
    height: 100%;
    display:inline;
    position:fixed;
    background: var(--colorSecondary);
    animation-delay: 1000ms;
    animation: fade-side-bar-inner-in 350ms forwards;
    z-index: 901;
}

.nav-side-bar-inner[side-bar-visible=false]{
    animation: fade-side-bar-inner-out 350ms forwards;
}

.nav-side-bar-inner{
    visibility: hidden;
}

.btn-center{
    margin-top: 5px;
    display: block;
    align-items: center;
    place-items: center;
}

.cart-count{
    margin-left: -15px;
    display: inline;
}

.content {

    position: absolute;
    animation: slide-up 500ms forwards;
    min-width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    z-index: -3;
}

.center{
    margin: auto;
}

body[current-page="About"], body[current-page="Products"]{
    overflow-y: auto;
}

.about-content, .products-content{
    margin: auto;
    animation: slide-up 500ms both;
    padding-top: 5px;
    position: relative;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: start;
}

@media screen and (max-width: 800px) {
    .about-content, .products-content{
        overflow-x: hidden;
    }

    .nav-a{
        visibility: collapse;
        position: fixed;
        width: 0%;
        height: 0%;
    }

    #layer-background{
        background-size: cover;
    }

    .dropdown{
        z-index: -999999;
        position: fixed;
        margin-right: 3px;
        right: 5px;
        visibility: visible;
    }
}

@media screen and (max-width: 300px) {
    *{
        font-size: 50%;
    }
}


#cart{
    margin-right: -15px;
    background-color: var(--colorSecondary);
}

@keyframes fade-background-in{
    0%{ opacity: 0; }
    100%{ opacity: 0.7;}
}

@keyframes fade-background-out{
    0%{ opacity: 0.7; }
    100%{ opacity: 0; visibility: hidden;}
}

@keyframes fade-side-bar-inner-in{
    0%{ transform: translateX(-100%); visibility: visible; }
    100%{ transform: translateX(-15%); visibility: visible; }
}

@keyframes fade-side-bar-inner-out{
    0%{ transform: translateX(-15%);  visibility: visible; }
    100%{ transform: translateX(-100%); visibility: hidden; }
}

@keyframes fade-layer-background-in{
    0%{ opacity: 0; }
    100%{ opacity: 0.3;}
}

@keyframes slide-up {
    0%{ transform: translateY(100%); visibility: visible; }
    100%{ transform: translateY(0%); visibility: visible; }
}

@keyframes slide-down {
    0%{ transform: translateY(0%); }
    100%{ transform: translateY(100%); }
}

@keyframes fade-in {
    0%{ opacity: 0; }
    100%{ opacity: 1;}
}

@keyframes fade-out {
    0%{ opacity: 1; }
    100%{ opacity: 0;}
}