.products-content {
    margin: auto;
    overflow-x: hidden;
    animation: slide-up 500ms both;
    padding-top: 5px;
    position: relative;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: start;
}

.card{
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* .card.show{ */
    /* animation: slide-up 500ms both; */
  /* } */

.card:hover{
    transition: 0.2s;
    transform: scale(1.1);
    box-shadow: 1px 3rem 6rem rgba(47, 120, 208, 0.35);
}

@media screen and (max-width: 800px) {
    .card:hover{
        transform: scale(1);
        box-shadow: none;
    }

    .nav-a{
        visibility: collapse;
        position: fixed;
        width: 0%;
        height: 0%;
    }

    #layer-background{
        background-size: cover;
    }

    /* .dropdown{
        right: 5px;
        position:fixed;
        display: block;
        visibility: visible;
    } */
}

/* @media screen and (max-width: 800px) {
    .products-content {
        position: absolute;
        display: block;
        justify-content: space-evenly;
    }
  } */